<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 ">
        <div class="jumbotron rounded">
            <h1 class="display-4 text-center">{{title}}</h1>
            <p class="text-justify">La vida es como neblina, cuando menos lo piensas se desvanece...</p>
            <p class="text-justify">El camino para cumplir las metas puede ser muy difícil, 
                por momentos te encontrarás con el impulso de rendirte, 
                cuando ese oscuro momento llegue a tu vida, 
                procura recordar la razón por la cual empezaste a luchar por tus metas; 
                eso puede salvarte de rendirte demasiado cerca del final. </p>
            <div class="row">
                <p class="col-sm-12 col-lg-4">
                    <a href="#" class="btn btn-primary btn-lg btn-block m-2" role="button">Mi perfil</a>
                </p>
                <p class="col-sm-12 col-lg-4">
                    <a href="#" class="btn btn-success btn-lg btn-block m-2" role="button">Timeline</a>
                </p>
                <p class="col-sm-12 col-lg-4">
                    <a href="#" class="btn btn-warning btn-lg btn-block m-2" role="button">Gente</a>
                </p>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
